body {
	background: #84817a;
	grid-template-areas: "header header header" "sidebar main main" "footer footer footer";
	grid-template-rows: 50px 200px;
}
h1 {
	font-family: 'Oswald', sans-serif;
	color: #f7f1e3;
}
h2 {
	font-family: 'Oswald', sans-serif;
	color: #f7f1e3;
}
p { 
	font-family: 'Oswald', sans-serif;
	color: #f7f1e3;
	font-size: 18px;
	border: 4px dotted;

}
