body {
	background: #84817a;
	}

#navbar {
    overflow: hidden;
    background: #353535;
    margin-left: -20px;
    margin-right: -258px;
    margin-top: -10px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 35px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  background-color: white;
  color: #353535;
}

#navbar a.active {
  background-color: #353535;
  color: white;
}
#up {
	display: grid;
		height: 1050px;
		width: 1000px;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	grid-column-gap: 80px;
	grid-row-gap: 80px;
	padding-left: 180px;

}
#about{
	text-align: center;
}

#me {
	grid-row: 1;
	
}
#text1 {
	grid-column: 2;
	font-size:500px;
	

}
#text2 {
	grid-row: 2;

}
#money{
	
}
#soccer{
	padding-top: 150px;
	padding-left: 182px;
	padding-right: 50px;
}
#goal{
	text-align: center;
     
}
#life{
	text-align: center;
}
#text3{
	grid-column: 1/span 3 ;
}
#tree{
	grid-column: 1;
	grid-row: 2;
}
#nft{
	grid-column: 2;
}
#cooking{
	grid-column: 3;
}
#goal{
    display: inline-grid;
		height: 750px; 
		width: 1200px;
	grid-template-columns: 34% 33% 33%;
	grid-template-rows: 45% 55%;
	grid-column-gap: 50px;
	grid-row-gap: 100px;
	padding-left: 50px;
	padding-top: 100px;
}
#rick{
	text-align: center;
	padding-top: 200px;
}

 h1 {
	font-family: 'Oswald', sans-serif;
	color: #f7f1e3;
	text-align: center;
	font-size: 	80px;
}
h2 {
	font-family: 'Oswald', sans-serif;
	color: #f7f1e3;
	font-size: 40px;
}
p { 
	font-family: 'Oswald', sans-serif;
	color: #f7f1e3;
	font-size: 100px;
	border: 4px dashed;
	font-size: 30px;

}
